@font-face {
  font-family: "ShorelinesScript-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Shorelines\ Script\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "CloneRoundedLatn-Me☞-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/CloneRoundedLatn-Me.ttf") format("truetype");
}

@font-face {
  font-family: "CloneRoundedLatn-Th☞-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/CloneRoundedLatn-Th.ttf") format("truetype");
}

@font-face {
  font-family: "CloneRoundedLatn-Sb☞-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/CloneRoundedLatn-Sb.ttf") format("truetype");
}

*{
  text-decoration: none;
}

body {
  background-color: black;
  margin: 0;
}

p {
  line-height: 1.5;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}


/* Inputs */

input,
textarea {
  height: 32px;
  padding: 0 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}

input:focus,
textarea:focus {
  outline: none;
}

/* Banner */

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#banner h1{
  font-family: "ShorelinesScript-Bold", Helvetica;
  font-size: 28px;
  margin-top: 80px;
  padding: 0 24px;
  text-align: center;
}

#banner h3{
  font-family: "CloneRoundedLatn-Me☞-Regular";
  font-size: 28px;
  padding: 0 24px;
  text-align: center;
}

#banner h4{
  font-family: "CloneRoundedLatn-Th☞-Regular";
  font-size: 28px;
  padding: 0 24px;
  text-align: center;
  opacity: 0.5;
}

/* Search Box */

#searchbox {
  position: fixed;
  right: 0;
  top: 24px;
  width: 500px;
  pointer-events: none;
  z-index: 50;
  transition: 0.4s;
}

#searchbox input {
  height: 48px;
  width: 100%;
}

/* Navigation */

nav {
  height: 76px;
  background: black;
  width: 100%;
  margin: 0;
  position: absolute;
  font-family: "CloneRoundedLatn-Th☞-Regular";
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
}

nav a {
  padding: 0 8px;
  color: white;
  transition: 0.4s;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

.active {
  font-family: "CloneRoundedLatn-Sb☞-Regular"; 
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: center;
}

/* Search Icon */

#search-icon {
  color: white;
  padding: 0 32px;
  cursor: pointer;
  transition: 0.4s;
}

#search-icon:hover {
  color: red;
}

/* Slideout Menu */

#slideout-menu {
  display: none;
  height: 100%;
  background: black;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity:0;
  pointer-events:none;
}

#slideout-menu ul {
  top: 50%;
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 8px;
}

#slideout-menu a {
  font-family: "CloneRoundedLatn-Th☞-Regular";
  font-size: 20px;
  color: white;
}

#slideout-menu ul ul{
  width: 100%;
  margin-top: 32px;
  display: flex;
  padding: 0px;
  justify-content: space-evenly;
}

/* Sections */

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-item{
  background-color: transparent;
  height: 760px;
}

.flex-item-each{
  align-self: center;
  width: 30%;
  margin-top: 28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animate-enter {
  animation: animate-enter-frames 0.5s ease 0.3s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

.flex-item-each p {
  margin-top: 50%;
  text-align: center;
  font-family: "CloneRoundedLatn-Sb☞-Regular";
  font-size: 36px;
  color: white;
}

.item-1{
  background-image: url("img/web/1.png");
}

.item-2{
  background-image: url("img/web/2.png");
}

.item-3{
  background-image: url("img/web/3.png");
}

.item-4{
  background-image: url("img/web/4.png");
}

.item-5{
  background-image: url("img/web/5.png");
}

.item-6{
  background-image: url("img/web/6.png");
}

section div a img{
    min-height: 100%; 
    width: auto;
}
/* Card */

.card-image {
  transition: 0.4s;
}

.card-image:hover {
  box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {
  padding: 0 8px;
}

.card-meta-blogpost{
  color:#333;
  font-size:14px;
  padding: 16px;
  font-family:'Roboto Slab', serif;
}

.card-meta-blogpost a{
  color:#333;
}

/* Button Read more */

.btn-readmore {
  padding: 8px 24px;
  border: 3px solid black;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.btn-readmore:hover {
  background: red;
  text-decoration: none;
  padding: 8px 64px 8px 24px;
  color: white;
}

/* Footer */

footer {
  background: black;
  align-items: center;
}

footer p {
  font-family: "CloneRoundedLatn-Th☞-Regular";
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Media Queries */

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: flex;
  }

  #slideout-menu {
    display: block;
  }

  #searchbox {
    display: none;
  }

  #blogpost{
    width:100%;
    border-left:0;
  }

  #sidebar{
    display: none;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

  section {
    flex-direction: column;
  }

}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  #banner h1 {
    font-size: 20px;
  }

  #banner h3 {
    font-size: 20px;
    margin-top: 60px;
  }

  #banner h4 {
    font-size: 16px;
    margin-top: 12px;
  }

  .flex-item{
    height: 470px;
  }

  .flex-item-each{
    width: 90%;
    margin-top: 16px;
  }

  #logo-img {
    padding: 0;
  }

  footer p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

}

@media (min-width: 600px) {
  
  .flex-item{
    height: 470px;
  }

  .flex-item-each{
    width: 70%;
  }

  footer p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

}

@media (min-width: 720px) {
  main {
    width: 95%;
  }

  #banner h1 {
    font-size: 36px;
  }

  #banner h3 {
    font-size: 40px;
    margin-top: 100px;
  }

  #banner h4 {
    font-size: 28px;
    margin-top: 16px;
  }

  .flex-item{
    height: 540px;
  }

  .flex-item-each{
    width: 45%;
  }

  .card {
    width: 45%;
  }
  .card .card-image img {
    width: 100%;
  }

  footer p{
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

}

@media (min-width: 1200px) {
  main {
    width: 85%;
  }

  #banner h1 {
    font-size: 36px;
  }

  #banner h3 {
    font-size: 44px;
    margin-top: 120px;
  }

  #banner h4 {
    font-size: 36px;
    margin-top: 16px;
  }

  .flex-item-each{
    width: 30%;
  }

  footer p{
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(0, 25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}